// ******************************************
// BASE DEFINITION
// 
// 2013/07/23	Nguyen Phu Cuong	Create New
// 
// ******************************************

// ==========================================
// Global variable
// ==========================================
// Background image
$bgImage: "background.jpg";
// Background partern
$bgPattern: "bg-1.png";
// Image folder
$dirImages: "images/";
// Color error
$colorError: #b94a48;

// Third Party Framework
//@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

// Common functions

@mixin base-body{
	margin: 0px;
	padding: 0px;
	background: none; 
}

// ------------------------------------------
// Get image url
// 	$img: image name
@function _urlImage($img){
	@return $dirImages + $img;
}