@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
	/*background: none;*/
}

.errorfield{
	color: #b94a48;
	text-align: left;
}

.copyright{
	text-align: center;
}

.content-left{
	text-align: right;
}

label.required:after{
	content: " *"; 
	color: #e32;
	display:inline;
}

.wrapper{
	margin: 0 20px;
}

@for $i from 1 through 10 {
  .width-pixel-#{$i} { width: 20px * $i; }
}

.divider{
	height: 0;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #f5f5f5;
	position: ralative;
	margin: 20px 0;
	
	span{
		position: relative; 
		left: 50%; 
		margin-left: -21px; 
		background: #e6e6e6 url("images/divider.png") no-repeat 50%; 
		width: 36px; 
		padding: 0 3px; 
		height: 9px; 
		display: block; 
		top: -4px; 
	}
}

.wrapper-w{
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper-h{
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper-both{
	padding: 20px;
}