@CHARSET "UTF-8";

.portlet{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	
	border: 1px solid #d5d5d5;
	margin-top: 20px;
	display: block;
	background: #fafafa;
	border-top: none;
}

	.portlet .portlet-header{
		min-height: 38px;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
		position: relative;
		background: #fafafa;
		background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef));
		background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
		background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
		background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
		background: linear-gradient(top, #fafafa 0%, #efefef 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
	}
	
	.portlet .portlet-header h4{
		font-size: 14px;
		font-style: normal;
		font-weight: bold;
		color: #263849;
		padding: 10px 0 0 10px;
		margin: 0;
	}
	
	.portlet .portlet-header .portlet-tab-nav{
		padding: 0;
		margin: 0;
		position: absolute;
		top: 11px;
		right: 10px;
	}
	
	.portlet .portlet-header .portlet-tab-nav a{
		text-decoration: none;
		color: #263849;
	}
	
	.portlet .portlet-body{
		padding: 12px 14px;
	}