@CHARSET "UTF-8";

ul.big-nav-btn{
	list-style: none;
	margin: 0;
	padding: 0;
	//position: relative;
	text-align: center;
	
	li {
		margin: 5px 10px 0 10px; 
		position: relative; 
		display: inline-block; 
		text-align: center;
		min-width: 110px;
		
		a{
			background: #f7f7f7;
			background: -moz-linear-gradient(top,  #f7f7f7 0%, #efefef 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
			background: -webkit-linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
			background: -o-linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
			background: -ms-linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
			background: linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 );
			border: 1px solid #d5d5d5;
			box-shadow: 0 0 0 1px #fcfcfc inset, 0 1px 1px #d5d5d5;
			-webkit-box-shadow: 0 0 0 1px #fcfcfc inset, 0 1px 1px #d5d5d5;
			-moz-box-shadow: 0 0 0 1px #fcfcfc inset, 0 1px 1px #d5d5d5;
			padding: 10px 16px 2px 16px;
			display: block;
			white-space: nowrap;
			color: #626262;
			text-decoration: none;
		}
		
		a:hover{
			background: #f7f7f7;
			background: -moz-linear-gradient(top,  #f7f7f7 0%, #f2f2f2 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e6ef2f));
			background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%);
			background: -o-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%);
			background: -ms-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%);
			background: linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f2f2f2',GradientType=0 );
		}
		
		a:activity{
			box-shadow: none;
			background: #f4f4f4;
			background: -moz-linear-gradient(top,  #f4f4f4 0%, #f7f7f7 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f7f7f7));
			background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
			background: -o-linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
			background: -ms-linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
			background: linear-gradient(top,  #f4f4f4 0%,#f7f7f7 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f7f7f7',GradientType=0 );
		}
		
		a > span {
			display: block; 
			padding-top: 4px;
		}
		
		a > .icon {
			font-size: 24px; 
			color: #808080;
			font-weight: normal;
		}
		
		a.current{
			border: 1px solid #5897c3; box-shadow: 0 1px 2px 0 #84c4dd inset; -webkit-box-shadow: 0 1px 2px 0 #84c4dd inset; -moz-box-shadow: 0 1px 2px 0 #84c4dd inset;
			background: #6db5d5;
			color: #fff;
			/*
			background: -moz-linear-gradient(top,  #6db5d5 0%, #4a91c0 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db5d5), color-stop(100%,#4a91c0));
			background: -webkit-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
			background: -o-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
			background: -ms-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
			background: linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
			*/
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db5d5', endColorstr='#4a91c0',GradientType=0 );
			
			.icon {
				color: #fff;
			}
		}
		
		a.current:active { 
			background: #559cc7;
			@include box-shadow(0 0 2px #808080 inset, 0 1px 0 #fff);
			/* 
			box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; 
			-webkit-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; 
			-moz-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; 
			*/
		}
	}
}
