// Library
@import "_base.scss";

html { 
  background: url(_urlImage($bgImage))  no-repeat center center fixed; 
  @include background-size("cover");
}

body{
	@include base-body;
}

#pageHeader{
	height: 50px;
	
	.menu-app{
		float: left;
		color: #fff;
		margin-top: 5px;
		
		a{
			text-decoration: none;
			font-size: 28px;
		}
	}

	.menu-app > a:FIRST-CHILD{
		color: #fff;
	}

	.menu-app > a:FIRST-CHILD:hover{
		color: #fff;
	}
	
	.wrap-content{
		padding: 10px;
	}
}

#pageContent{
	min-height: 450px;
}

#pageFooter{
	text-align: center;
}

#navUser{
	.dropdown-menu{
		right: 0;
		left: auto;
	}
}

#navUser > li > a:FIRST-CHILD{
	color: #fff;
}

#navUser > li > a:FIRST-CHILD:hover{
	color: #333;
}