@import "compass";

html { 
  background-color: #EFEFEF;
}

body{
	margin: 0;
	padding: 0;
	/*background: none !important;*/
	background: url("images/bg-body.png");
	min-height: 100%;
}

.container1 {
	min-width: 320px;
}

.wrap-content{
	padding: 10px;
}

#pageHeader{
	background: url("images/bg-top.png") repeat-x 0 0;
	height: 48px;
	display: block;
	width: 100%;
	/*position: absolute;*/
	border-bottom: 1px solid #1c1c1c;
	z-index: 999;
	
	.menu-app{
		float: left;
		color: #fff;
		margin-top: 4px;
	}
	
	.avatar{
		width: 28px;
		height: 28px;
	}
	
	.login{
		float: right;
		margin-top: 5px;
	}
	
	#nav-user{
		margin-top: 5px;
		margin-bottom: 0px;
		
		#nav-user-pulldown{
			color: #fff;
			padding: 4px 8px;
		}
		
		#nav-user-pulldown:hover,
		#nav-user-pulldown:focus{
			color: #fff;
			background-color: #383838 !important;
		}
	}
	
	.menu-app a{
		text-decoration: none;
		font-size: 28px;
	}
	
	.menu-app > a:FIRST-CHILD{
		color: #fff;
	}
	
	.menu-app > a:FIRST-CHILD:hover{
		color: #fff;
	}

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin:0px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  
  font-size: 14px;
  font-family: "Segoe UI",Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.dropdown:hover .caret, 
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.dropdown-menu li > a {
  padding: 6px 0 6px 13px;
  color: #333;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap;
}

.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
  text-decoration: none;
  background-image: none;
  background-color: #eee;
  color: #333;
  filter:none;
}

.dropdown.open .dropdown-toggle {
  color: #08c;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}

/* Content Begin*/

#pageContent{
	clear: both;
	/*margin-top: 60px;*/
	/*min-height: 450px;*/
	
	.container1{
		min-height: 450px;
	}
	
	.content-top{
		height: 64px;
		background: url("images/bg-content-top.png") repeat-x;
		
		.page-title{
			float: left;
			color: #626262;
			font-size: 16px;
			font-weight: bold;
			margin: 20px 0px 20px 0px;
		}
	}
	
	.content-nav{
		clear: both;
		/*height: 28px;*/
		@include box-shadow(0 1px 0 #fff, 0 1px 0 #fff inset);
		font-size: 11px;
		padding-bottom: 4px;
		background: #f4f4f4;
		@include background-image(linear-gradient(top, #f4f4f4 0%, #E4E4E4 100%));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#E4E4E4',GradientType=0 );
	}
		
}

/* Breadscrumb Begin */
ul.breadcrumbs { list-style:none; position: relative; z-index: 990; padding: 0; margin: 0; }
ul.breadcrumbs:after { content: ""; display: block; clear: both; }
ul.breadcrumbs li { float: left; }
ul.breadcrumbs li.current { border-right: none; }
ul.breadcrumbs li a { color: #666666; text-decoration: none; padding: 3px 20px 3px 14px; display: block; background: url("images/icon-breadscrumb-sub.png") no-repeat 100% 10px; height: 22px; line-height: 23px; }
ul.breadcrumbs li a:hover, ul.breadcrumbs li.hover a { color: #2B6893; }
ul.breadcrumbs > li:first-child { background: url("images/icon-breadscrum-home.png") no-repeat 2px 10px; }
ul.breadcrumbs > li:first-child > a { padding-left: 20px; }
ul.breadcrumbs li.current > a { color: #B1B1B1; background: none; }
/* Breadscrumb End*/

/* Content End*/

/* Footer Begin */

#pageFooter{
	text-align: center;
}

/* Footer End*/

/* Slide bar Begin */
#pageSlideBar{
	min-height: 100%;
	position: absolute;
	z-index: 999;
	/*border-right: 1px solid #c3c3c3*/
	width: 100px;
	background-color: yellow;
}
/* Slide bar End */