// Library
@import "_base.scss";

html { 
	
}

body{
	@include base-body;
	background-color: #fff;
}

#page-top{
	height: 80px;
	width: 100%;
	position: relative;
	
	.logo{
		float: left;
		font-size: 32px;
		margin-top: 15px;
		
		a{
			color: #333;
			text-decoration: none;
		}
	}
	
	.login-box{
		margin-top: 20px;
	}
	
	.form-inline select,
	.form-inline input[type="text"],
	.form-inline input[type="password"] {
		width: 180px;
	}
}

#page-title{
	background: #8BAA2B;
	border: 0;
	width: 100%;
	height: 50px;
	
	.title{
		color: #fff;
		line-height: 50px;
		vertical-align: 50px;
		font-size: 24px;
	}
	
	.top-nav-2{
		
		a {
			color: #fff;
		}
	}
}

#page-content{
	min-height: 450px;
	margin-top: 10px;
}

#page-footer{
	text-align: center;
}