
@import "_base.scss";

#page-login {
	padding-top: 40px;
	padding-bottom: 40px;
	
	.copyright{
		text-align: center;
	}
	
	.errorfield{
		color: $colorError;
		text-align: left;
	}
	
	.form-signin {
		width: 350px;
	        /*padding: 19px 29px 29px;*/
	        margin: 0 auto 20px;
	        background-color: #fff;
	        border: 1px solid #e5e5e5;
	        @include border-radius(5px);
	        @include box-shadow(0 1px 2px rgba(0,0,0,.05));
	}
}
	
		#page-login .form-signin .form-signin-body{
			padding: 19px 29px 29px;
		}
		
		#page-login .form-signin input[type="text"],
		#page-login .form-signin input[type="password"] {
			font-size: 16px;
	        height: auto;
	        margin-bottom: 15px;
	        padding: 7px 9px;
	        width: 94%;
		}
		
		#page-login .form-signin .form-signin-control{
			text-align: center;
		}


