@CHARSET "UTF-8";
/*
body#page-menu{
	background: #fff;
}
#page-menu div#page, #page-menu div#content{
	width: 100%;	
}

#page-menu div#page, #page-menu div#header, #page-menu div#nav div.wrapper li a{
	background: none;
	margin: 0px;	
}
 #page-menu div#nav div.wrapper li{
 	border: 0px;
 }
 
 #page-menu div.logo{
 	display:block;
 	width:260px;
 	height:79px;
 	background:url("images/logo.png") no-repeat;
 	text-indent: -99999px;
 	float: left;
 }
 #page-menu div.menu-top{
 	float: right;
 }
 #page-menu div.menu-top a{
 	background: none;
 	color: #fff;
 }
 #page-menu div.menu-top i.icon_user_login, #page-menu div.menu-top span{
 	float:left;
 }
 #page-menu div.menu-top span{
 	margin-top: 10px;
 	margin-right: 4px;
 	font-size: 18px;
 	color: #DBDBFF;
 }
 #page-menu div.menu-top i.icon_user_login{ 	
 	display: block;
 	width: 67px;
 	height: 63px;
 	background: url("images/icon_user.png") no-repeat;
 	text-indent: -99999px;
 }
 
 #page-menu ul li{	
	list-style-type:none;
}
#page-menu div#main{	
	width: 100%;
}

#page-menu #footer{	   
  height: 50px;  
  z-index:100;
}
#page-menu .menu-list{	 	 	  
	  list-style-type: none;
	  text-align: center;	  
	  margin: 5px auto;
}

#page-menu .menu-list p{
	display: inline;
	padding: 2px;
}
#page-menu .menu-list p a{			
	border-top: 5px solid;
	border-color: rgba(0, 0, 0, 0.1);	
}
#page-menu .menu-list p a{	
	margin-top: 5px;
	text-decoration: none;
}
#page-menu .menu-list p a:hover{
	border-top: 5px solid #7f7f7f;	
}
#page-menu .menu-list p a{
	background-color: #fff;
}
#page-menu .menu-list p a.active{
	border-top: 5px solid #7f7f7f;	
}
*/
/* Gridster styles */
/*
#page-menu div#main .gridster{
	padding-top:100px;
	min-height: 620px;
}
#page-menu div.gridster .col {	
    background: #FFF;   
    display: inline;              
}
#page-menu div.gridster .col a{
	display:inline-block;
	min-width: 128px;
	min-height: 128px;
}

#page-menu .gridster .col{
	z-index:2;		
}
#page-menu .gridster .col a img{
	width:100px;
	height: 100px;
}
#page-menu div#content{	
	margin-top: 10px;
	text-align: center;
	min-height: 750px;
}
#page-menu div#content div#main{	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);    	
}
*/

#page-menu{
}

	#page-menu .menu-container{
		padding-top: 30px;
		padding-bottom: 30px;
		margin: auto;
	}

		#page-menu .menu-container .menu-item{
			float: left;
			width: 150px;
			height: 150px;
			-webkit-transition: background .5s ease;
			-moz-transition: background .5s ease;
			-ms-transition: background .5s ease;
			-o-transition: background .5s ease;
			transition: background .5s ease;
			text-decoration: none;
			background-color: #00879D;
			color: #fff;
			margin: 5px;
			vertical-align: middle;
		}
		
		#page-menu .menu-container .menu-item:hover{
			background-color: #35bc7a;
		}
		
		#page-menu .menu-container .menu-item .icon{
			font-size: 48px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		#page-menu .menu-container .menu-item .title{
			font-size: 24px;
			text-align: center;
		}
		
		#page-menu .menu-container .item-w2{
			width: 310px;
		}
					
		#page-menu .menu-container .color-1{
			background-color: #00879D;
		}
		
		#page-menu .menu-container .color-2{
			background-color: #5535B0;
		}
		
		#page-menu .menu-container .color-3{
			background-color: #2776ED;
		}
		
		#page-menu .menu-container .color-4{
			background-color: #019000;
		}
		
		#page-menu .menu-container .color-5{
			background-color: #DA572D;
		}
		
		#page-menu .menu-container .color-6{
			background-color: #94009E;
		}
		
		#page-menu .menu-container .color-7{
			background-color: #0A4FB7;
		}
		
		#page-menu .menu-container .color-8{
			background-color: #A400AC;
		}
		
		#page-menu .menu-container .color-9{
			background-color: #BA1D48;
		}
		
		#page-menu .menu-container .color-9{
			background-color: #6F85B4;
		}
		
		#page-menu .menu-container .color-10{
			background-color: #00A201;
		}