
@import "_base.scss";
.rigth{
	text-align:right;
	padding-right : 15px;
}

#page-b0301{
	.tableb301{
		background-color: #fff;
		width:100%; 
		margin: 0 auto;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		       -moz-border-radius: 5px;
		        	border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		        	box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
		
		 .tableb301 .title{
			border-collapse: collapse;
			border-spacing: 0px;
			border: 1px solid #aaccbb; 
			text-align: center;
		}
		
		 .tableb301 tr td{
			border: 1px solid #e5e5e5;
			padding-left: 5px;
		}
		
		 .col-center{
			text-align: center;
		}
		
		.searchb301{
			margin: 0 auto;
			width : 50%	
		}
		.center{
			margin : 0 auto;
		}
}
.two-col-start{
	width : 40%;
	float : left;
}

#page-b0302 .content{
	margin: 0 auto;
	width : 50%	
}
#page-b0304 form{
	width:100% !important; 
	margin-bottom : 0 !important;
}
#page-b0304 {
	.tableb304{
		background-color: #fff;
		width:100%; 
		margin: 0 auto;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		       -moz-border-radius: 5px;
		        	border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		        	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}

	 .tableb304 .title{
		border-collapse: collapse;
		border-spacing: 0px;
		border: 1px solid #aaccbb; 
		text-align: center;
	}
	
	 .tableb304 tr td{
		border: 1px solid #e5e5e5;
		padding-left: 5px;
	}
	
	.col-center{
		text-align: center;
	}
		
}
#page-b0303 .content{
	margin: 0 auto;
	width : 50%	
}