@CHARSET "UTF-8";
/* line 3, sass/common.scss */
body {
  margin: 0;
  padding: 0;
  /*background: none;*/ }

/* line 9, sass/common.scss */
.errorfield {
  color: #b94a48;
  text-align: left; }

/* line 14, sass/common.scss */
.copyright {
  text-align: center; }

/* line 18, sass/common.scss */
.content-left {
  text-align: right; }

/* line 22, sass/common.scss */
label.required:after {
  content: " *";
  color: #e32;
  display: inline; }

/* line 28, sass/common.scss */
.wrapper {
  margin: 0 20px; }

/* line 33, sass/common.scss */
.width-pixel-1 {
  width: 20px; }

/* line 33, sass/common.scss */
.width-pixel-2 {
  width: 40px; }

/* line 33, sass/common.scss */
.width-pixel-3 {
  width: 60px; }

/* line 33, sass/common.scss */
.width-pixel-4 {
  width: 80px; }

/* line 33, sass/common.scss */
.width-pixel-5 {
  width: 100px; }

/* line 33, sass/common.scss */
.width-pixel-6 {
  width: 120px; }

/* line 33, sass/common.scss */
.width-pixel-7 {
  width: 140px; }

/* line 33, sass/common.scss */
.width-pixel-8 {
  width: 160px; }

/* line 33, sass/common.scss */
.width-pixel-9 {
  width: 180px; }

/* line 33, sass/common.scss */
.width-pixel-10 {
  width: 200px; }

/* line 36, sass/common.scss */
.divider {
  height: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #f5f5f5;
  position: ralative;
  margin: 20px 0; }
  /* line 43, sass/common.scss */
  .divider span {
    position: relative;
    left: 50%;
    margin-left: -21px;
    background: #e6e6e6 url("images/divider.png") no-repeat 50%;
    width: 36px;
    padding: 0 3px;
    height: 9px;
    display: block;
    top: -4px; }

/* line 56, sass/common.scss */
.wrapper-w {
  padding-left: 20px;
  padding-right: 20px; }

/* line 61, sass/common.scss */
.wrapper-h {
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 66, sass/common.scss */
.wrapper-both {
  padding: 20px; }
