@CHARSET "UTF-8";
/* line 3, sass/component-portlet.scss */
.portlet {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  margin-top: 20px;
  display: block;
  background: #fafafa;
  border-top: none; }

/* line 16, sass/component-portlet.scss */
.portlet .portlet-header {
  min-height: 38px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: linear-gradient(top, #fafafa 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 ); }

/* line 31, sass/component-portlet.scss */
.portlet .portlet-header h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #263849;
  padding: 10px 0 0 10px;
  margin: 0; }

/* line 40, sass/component-portlet.scss */
.portlet .portlet-header .portlet-tab-nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 11px;
  right: 10px; }

/* line 48, sass/component-portlet.scss */
.portlet .portlet-header .portlet-tab-nav a {
  text-decoration: none;
  color: #263849; }

/* line 53, sass/component-portlet.scss */
.portlet .portlet-body {
  padding: 12px 14px; }
