/* line 3, sass/layout-main.scss */
html {
  background-color: #EFEFEF; }

/* line 7, sass/layout-main.scss */
body {
  margin: 0;
  padding: 0;
  /*background: none !important;*/
  background: url("images/bg-body.png");
  min-height: 100%; }

/* line 15, sass/layout-main.scss */
.container1 {
  min-width: 320px; }

/* line 19, sass/layout-main.scss */
.wrap-content {
  padding: 10px; }

/* line 23, sass/layout-main.scss */
#pageHeader {
  background: url("images/bg-top.png") repeat-x 0 0;
  height: 48px;
  display: block;
  width: 100%;
  /*position: absolute;*/
  border-bottom: 1px solid #1c1c1c;
  z-index: 999; }
  /* line 32, sass/layout-main.scss */
  #pageHeader .menu-app {
    float: left;
    color: #fff;
    margin-top: 4px; }
  /* line 38, sass/layout-main.scss */
  #pageHeader .avatar {
    width: 28px;
    height: 28px; }
  /* line 43, sass/layout-main.scss */
  #pageHeader .login {
    float: right;
    margin-top: 5px; }
  /* line 48, sass/layout-main.scss */
  #pageHeader #nav-user {
    margin-top: 5px;
    margin-bottom: 0px; }
    /* line 52, sass/layout-main.scss */
    #pageHeader #nav-user #nav-user-pulldown {
      color: #fff;
      padding: 4px 8px; }
    /* line 58, sass/layout-main.scss */
    #pageHeader #nav-user #nav-user-pulldown:hover,
    #pageHeader #nav-user #nav-user-pulldown:focus {
      color: #fff;
      background-color: #383838 !important; }
  /* line 64, sass/layout-main.scss */
  #pageHeader .menu-app a {
    text-decoration: none;
    font-size: 28px; }
  /* line 69, sass/layout-main.scss */
  #pageHeader .menu-app > a:FIRST-CHILD {
    color: #fff; }
  /* line 73, sass/layout-main.scss */
  #pageHeader .menu-app > a:FIRST-CHILD:hover {
    color: #fff; }

/* line 79, sass/layout-main.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: "Segoe UI",Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

/* line 103, sass/layout-main.scss */
.dropdown:hover .caret,
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100); }

/* line 108, sass/layout-main.scss */
.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

/* line 114, sass/layout-main.scss */
.dropdown-menu li > a {
  padding: 6px 0 6px 13px;
  color: #333;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap; }

/* line 127, sass/layout-main.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  text-decoration: none;
  background-image: none;
  background-color: #eee;
  color: #333;
  filter: none; }

/* line 135, sass/layout-main.scss */
.dropdown.open .dropdown-toggle {
  color: #08c;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3); }

/* Content Begin*/
/* line 143, sass/layout-main.scss */
#pageContent {
  clear: both;
  /*margin-top: 60px;*/
  /*min-height: 450px;*/ }
  /* line 148, sass/layout-main.scss */
  #pageContent .container1 {
    min-height: 450px; }
  /* line 152, sass/layout-main.scss */
  #pageContent .content-top {
    height: 64px;
    background: url("images/bg-content-top.png") repeat-x; }
    /* line 156, sass/layout-main.scss */
    #pageContent .content-top .page-title {
      float: left;
      color: #626262;
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0px 20px 0px; }
  /* line 165, sass/layout-main.scss */
  #pageContent .content-nav {
    clear: both;
    /*height: 28px;*/
    -webkit-box-shadow: 0 1px 0 white, 0 1px 0 white inset;
    -moz-box-shadow: 0 1px 0 white, 0 1px 0 white inset;
    box-shadow: 0 1px 0 white, 0 1px 0 white inset;
    font-size: 11px;
    padding-bottom: 4px;
    background: #f4f4f4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e4e4e4));
    background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
    background-image: linear-gradient(top, #f4f4f4 0%, #e4e4e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#E4E4E4',GradientType=0 ); }

/* Breadscrumb Begin */
/* line 179, sass/layout-main.scss */
ul.breadcrumbs {
  list-style: none;
  position: relative;
  z-index: 990;
  padding: 0;
  margin: 0; }

/* line 180, sass/layout-main.scss */
ul.breadcrumbs:after {
  content: "";
  display: block;
  clear: both; }

/* line 181, sass/layout-main.scss */
ul.breadcrumbs li {
  float: left; }

/* line 182, sass/layout-main.scss */
ul.breadcrumbs li.current {
  border-right: none; }

/* line 183, sass/layout-main.scss */
ul.breadcrumbs li a {
  color: #666666;
  text-decoration: none;
  padding: 3px 20px 3px 14px;
  display: block;
  background: url("images/icon-breadscrumb-sub.png") no-repeat 100% 10px;
  height: 22px;
  line-height: 23px; }

/* line 184, sass/layout-main.scss */
ul.breadcrumbs li a:hover, ul.breadcrumbs li.hover a {
  color: #2B6893; }

/* line 185, sass/layout-main.scss */
ul.breadcrumbs > li:first-child {
  background: url("images/icon-breadscrum-home.png") no-repeat 2px 10px; }

/* line 186, sass/layout-main.scss */
ul.breadcrumbs > li:first-child > a {
  padding-left: 20px; }

/* line 187, sass/layout-main.scss */
ul.breadcrumbs li.current > a {
  color: #B1B1B1;
  background: none; }

/* Breadscrumb End*/
/* Content End*/
/* Footer Begin */
/* line 194, sass/layout-main.scss */
#pageFooter {
  text-align: center; }

/* Footer End*/
/* Slide bar Begin */
/* line 201, sass/layout-main.scss */
#pageSlideBar {
  min-height: 100%;
  position: absolute;
  z-index: 999;
  /*border-right: 1px solid #c3c3c3*/
  width: 100px;
  background-color: yellow; }

/* Slide bar End */
