/* line 8, sass/layout-frontend.scss */
body {
  margin: 0px;
  padding: 0px;
  background: none;
  background-color: #fff; }

/* line 13, sass/layout-frontend.scss */
#page-top {
  height: 80px;
  width: 100%;
  position: relative; }
  /* line 18, sass/layout-frontend.scss */
  #page-top .logo {
    float: left;
    font-size: 32px;
    margin-top: 15px; }
    /* line 23, sass/layout-frontend.scss */
    #page-top .logo a {
      color: #333;
      text-decoration: none; }
  /* line 29, sass/layout-frontend.scss */
  #page-top .login-box {
    margin-top: 20px; }
  /* line 35, sass/layout-frontend.scss */
  #page-top .form-inline select,
  #page-top .form-inline input[type="text"],
  #page-top .form-inline input[type="password"] {
    width: 180px; }

/* line 40, sass/layout-frontend.scss */
#page-title {
  background: #8BAA2B;
  border: 0;
  width: 100%;
  height: 50px; }
  /* line 46, sass/layout-frontend.scss */
  #page-title .title {
    color: #fff;
    line-height: 50px;
    vertical-align: 50px;
    font-size: 24px; }
  /* line 55, sass/layout-frontend.scss */
  #page-title .top-nav-2 a {
    color: #fff; }

/* line 61, sass/layout-frontend.scss */
#page-content {
  min-height: 450px;
  margin-top: 10px; }

/* line 66, sass/layout-frontend.scss */
#page-footer {
  text-align: center; }
