/* line 4, sass/layout-menu.scss */
html {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 9, sass/layout-menu.scss */
body {
  margin: 0px;
  padding: 0px;
  background: none; }

/* line 13, sass/layout-menu.scss */
#pageHeader {
  height: 50px; }
  /* line 16, sass/layout-menu.scss */
  #pageHeader .menu-app {
    float: left;
    color: #fff;
    margin-top: 5px; }
    /* line 21, sass/layout-menu.scss */
    #pageHeader .menu-app a {
      text-decoration: none;
      font-size: 28px; }
  /* line 27, sass/layout-menu.scss */
  #pageHeader .menu-app > a:FIRST-CHILD {
    color: #fff; }
  /* line 31, sass/layout-menu.scss */
  #pageHeader .menu-app > a:FIRST-CHILD:hover {
    color: #fff; }
  /* line 35, sass/layout-menu.scss */
  #pageHeader .wrap-content {
    padding: 10px; }

/* line 40, sass/layout-menu.scss */
#pageContent {
  min-height: 450px; }

/* line 44, sass/layout-menu.scss */
#pageFooter {
  text-align: center; }

/* line 49, sass/layout-menu.scss */
#navUser .dropdown-menu {
  right: 0;
  left: auto; }

/* line 55, sass/layout-menu.scss */
#navUser > li > a:FIRST-CHILD {
  color: #fff; }

/* line 59, sass/layout-menu.scss */
#navUser > li > a:FIRST-CHILD:hover {
  color: #333; }
