/* line 4, sass/page_category.scss */
#page_category {
	/* padding-top: 0px;
	padding-bottom: 40px; */
}
/* line 8, sass/page_category.scss */
#page_category .copyright {
	text-align: center;
}
/* line 12, sass/page_category.scss */
#page_category .errorfield {
	color: #b94a48;
	text-align: left;
}
/* line 17, sass/page_category.scss */
#page_category .form_save {
	width: 450px;
	/*padding: 19px 29px 29px;*/
	margin: 40px auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 28, sass/page_category.scss */
#page_category .form_save .form_save-body {
	padding: 19px 29px 29px;
}

/* line 33, sass/page_category.scss */
#page_category .form_save input[type="text"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 94%;
}

/* line 41, sass/page_category.scss */
#page_category .form_save .form_save-control {
	text-align: center;
}