/* line 4, sass/page-login.scss */
#page-login {
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 8, sass/page-login.scss */
  #page-login .copyright {
    text-align: center; }
  /* line 12, sass/page-login.scss */
  #page-login .errorfield {
    color: #b94a48;
    text-align: left; }
  /* line 17, sass/page-login.scss */
  #page-login .form-signin {
    width: 350px;
    /*padding: 19px 29px 29px;*/
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 28, sass/page-login.scss */
#page-login .form-signin .form-signin-body {
  padding: 19px 29px 29px; }

/* line 33, sass/page-login.scss */
#page-login .form-signin input[type="text"],
#page-login .form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 94%; }

/* line 41, sass/page-login.scss */
#page-login .form-signin .form-signin-control {
  text-align: center; }
