/* line 3, sass/page-device.scss */
.rigth {
  text-align: right;
  padding-right: 15px; }

/* line 9, sass/page-device.scss */
#page-b0301 .tableb301 {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
/* line 22, sass/page-device.scss */
#page-b0301 .tableb301 .title {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid #aaccbb;
  text-align: center; }
/* line 29, sass/page-device.scss */
#page-b0301 .tableb301 tr td {
  border: 1px solid #e5e5e5;
  padding-left: 5px; }
/* line 34, sass/page-device.scss */
#page-b0301 .col-center {
  text-align: center; }
/* line 38, sass/page-device.scss */
#page-b0301 .searchb301 {
  margin: 0 auto;
  width: 50%; }
/* line 42, sass/page-device.scss */
#page-b0301 .center {
  margin: 0 auto; }

/* line 46, sass/page-device.scss */
.two-col-start {
  width: 40%;
  float: left; }

/* line 51, sass/page-device.scss */
#page-b0302 .content {
  margin: 0 auto;
  width: 50%; }

/* line 55, sass/page-device.scss */
#page-b0304 form {
  width: 100% !important;
  margin-bottom: 0 !important; }

/* line 60, sass/page-device.scss */
#page-b0304 .tableb304 {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
/* line 73, sass/page-device.scss */
#page-b0304 .tableb304 .title {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid #aaccbb;
  text-align: center; }
/* line 80, sass/page-device.scss */
#page-b0304 .tableb304 tr td {
  border: 1px solid #e5e5e5;
  padding-left: 5px; }
/* line 85, sass/page-device.scss */
#page-b0304 .col-center {
  text-align: center; }

/* line 90, sass/page-device.scss */
#page-b0303 .content {
  margin: 0 auto;
  width: 50%; }
