@CHARSET "UTF-8";
/* Library */
/* Common */
@CHARSET "UTF-8";
/* line 3, sass/common.scss */
body {
  margin: 0;
  padding: 0;
  /*background: none;*/ }

/* line 9, sass/common.scss */
.errorfield {
  color: #b94a48;
  text-align: left; }

/* line 14, sass/common.scss */
.copyright {
  text-align: center; }

/* line 18, sass/common.scss */
.content-left {
  text-align: right; }

/* line 22, sass/common.scss */
label.required:after {
  content: " *";
  color: #e32;
  display: inline; }

/* line 28, sass/common.scss */
.wrapper {
  margin: 0 20px; }

/* line 33, sass/common.scss */
.width-pixel-1 {
  width: 20px; }

/* line 33, sass/common.scss */
.width-pixel-2 {
  width: 40px; }

/* line 33, sass/common.scss */
.width-pixel-3 {
  width: 60px; }

/* line 33, sass/common.scss */
.width-pixel-4 {
  width: 80px; }

/* line 33, sass/common.scss */
.width-pixel-5 {
  width: 100px; }

/* line 33, sass/common.scss */
.width-pixel-6 {
  width: 120px; }

/* line 33, sass/common.scss */
.width-pixel-7 {
  width: 140px; }

/* line 33, sass/common.scss */
.width-pixel-8 {
  width: 160px; }

/* line 33, sass/common.scss */
.width-pixel-9 {
  width: 180px; }

/* line 33, sass/common.scss */
.width-pixel-10 {
  width: 200px; }

/* line 36, sass/common.scss */
.divider {
  height: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #f5f5f5;
  position: ralative;
  margin: 20px 0; }
  /* line 43, sass/common.scss */
  .divider span {
    position: relative;
    left: 50%;
    margin-left: -21px;
    background: #e6e6e6 url("images/divider.png") no-repeat 50%;
    width: 36px;
    padding: 0 3px;
    height: 9px;
    display: block;
    top: -4px; }

/* line 56, sass/common.scss */
.wrapper-w {
  padding-left: 20px;
  padding-right: 20px; }

/* line 61, sass/common.scss */
.wrapper-h {
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 66, sass/common.scss */
.wrapper-both {
  padding: 20px; }

/* Component */
@CHARSET "UTF-8";
/* line 3, sass/component-portlet.scss */
.portlet {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  margin-top: 20px;
  display: block;
  background: #fafafa;
  border-top: none; }

/* line 16, sass/component-portlet.scss */
.portlet .portlet-header {
  min-height: 38px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: linear-gradient(top, #fafafa 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 ); }

/* line 31, sass/component-portlet.scss */
.portlet .portlet-header h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #263849;
  padding: 10px 0 0 10px;
  margin: 0; }

/* line 40, sass/component-portlet.scss */
.portlet .portlet-header .portlet-tab-nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 11px;
  right: 10px; }

/* line 48, sass/component-portlet.scss */
.portlet .portlet-header .portlet-tab-nav a {
  text-decoration: none;
  color: #263849; }

/* line 53, sass/component-portlet.scss */
.portlet .portlet-body {
  padding: 12px 14px; }

@CHARSET "UTF-8";
/* line 3, sass/component-big-nav-btn.scss */
ul.big-nav-btn {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  /* line 10, sass/component-big-nav-btn.scss */
  ul.big-nav-btn li {
    margin: 5px 10px 0 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 110px; }
    /* line 17, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a {
      background: #f7f7f7;
      background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #efefef));
      background: -webkit-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
      background: -o-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
      background: -ms-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
      background: linear-gradient(top, #f7f7f7 0%, #efefef 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 );
      border: 1px solid #d5d5d5;
      box-shadow: 0 0 0 1px #fcfcfc inset, 0 1px 1px #d5d5d5;
      -webkit-box-shadow: 0 0 0 1px #fcfcfc inset, 0 1px 1px #d5d5d5;
      -moz-box-shadow: 0 0 0 1px #fcfcfc inset, 0 1px 1px #d5d5d5;
      padding: 10px 16px 2px 16px;
      display: block;
      white-space: nowrap;
      color: #626262;
      text-decoration: none; }
    /* line 37, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a:hover {
      background: #f7f7f7;
      background: -moz-linear-gradient(top, #f7f7f7 0%, #f2f2f2 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e6ef2f));
      background: -webkit-linear-gradient(top, #f7f7f7 0%, #f2f2f2 100%);
      background: -o-linear-gradient(top, #f7f7f7 0%, #f2f2f2 100%);
      background: -ms-linear-gradient(top, #f7f7f7 0%, #f2f2f2 100%);
      background: linear-gradient(top, #f7f7f7 0%, #f2f2f2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2',GradientType=0 ); }
    /* line 48, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a:activity {
      box-shadow: none;
      background: #f4f4f4;
      background: -moz-linear-gradient(top, #f4f4f4 0%, #f7f7f7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #f7f7f7));
      background: -webkit-linear-gradient(top, #f4f4f4 0%, #f7f7f7 100%);
      background: -o-linear-gradient(top, #f4f4f4 0%, #f7f7f7 100%);
      background: -ms-linear-gradient(top, #f4f4f4 0%, #f7f7f7 100%);
      background: linear-gradient(top, #f4f4f4 0%, #f7f7f7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#f7f7f7',GradientType=0 ); }
    /* line 60, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a > span {
      display: block;
      padding-top: 4px; }
    /* line 65, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a > .icon {
      font-size: 24px;
      color: #808080;
      font-weight: normal; }
    /* line 71, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a.current {
      border: 1px solid #5897c3;
      box-shadow: 0 1px 2px 0 #84c4dd inset;
      -webkit-box-shadow: 0 1px 2px 0 #84c4dd inset;
      -moz-box-shadow: 0 1px 2px 0 #84c4dd inset;
      background: #6db5d5;
      color: #fff;
      /*
      background: -moz-linear-gradient(top,  #6db5d5 0%, #4a91c0 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db5d5), color-stop(100%,#4a91c0));
      background: -webkit-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
      background: -o-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
      background: -ms-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
      background: linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
      */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db5d5', endColorstr='#4a91c0',GradientType=0 ); }
      /* line 85, sass/component-big-nav-btn.scss */
      ul.big-nav-btn li a.current .icon {
        color: #fff; }
    /* line 90, sass/component-big-nav-btn.scss */
    ul.big-nav-btn li a.current:active {
      background: #559cc7;
      -webkit-box-shadow: 0 0 2px gray inset, 0 1px 0 white;
      -moz-box-shadow: 0 0 2px gray inset, 0 1px 0 white;
      box-shadow: 0 0 2px gray inset, 0 1px 0 white;
      /* 
      box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; 
      -webkit-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; 
      -moz-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; 
      */ }

/* Pages */
@CHARSET "UTF-8";
/*
body#page-menu{
	background: #fff;
}
#page-menu div#page, #page-menu div#content{
	width: 100%;	
}

#page-menu div#page, #page-menu div#header, #page-menu div#nav div.wrapper li a{
	background: none;
	margin: 0px;	
}
 #page-menu div#nav div.wrapper li{
 	border: 0px;
 }
 
 #page-menu div.logo{
 	display:block;
 	width:260px;
 	height:79px;
 	background:url("images/logo.png") no-repeat;
 	text-indent: -99999px;
 	float: left;
 }
 #page-menu div.menu-top{
 	float: right;
 }
 #page-menu div.menu-top a{
 	background: none;
 	color: #fff;
 }
 #page-menu div.menu-top i.icon_user_login, #page-menu div.menu-top span{
 	float:left;
 }
 #page-menu div.menu-top span{
 	margin-top: 10px;
 	margin-right: 4px;
 	font-size: 18px;
 	color: #DBDBFF;
 }
 #page-menu div.menu-top i.icon_user_login{ 	
 	display: block;
 	width: 67px;
 	height: 63px;
 	background: url("images/icon_user.png") no-repeat;
 	text-indent: -99999px;
 }
 
 #page-menu ul li{	
	list-style-type:none;
}
#page-menu div#main{	
	width: 100%;
}

#page-menu #footer{	   
  height: 50px;  
  z-index:100;
}
#page-menu .menu-list{	 	 	  
	  list-style-type: none;
	  text-align: center;	  
	  margin: 5px auto;
}

#page-menu .menu-list p{
	display: inline;
	padding: 2px;
}
#page-menu .menu-list p a{			
	border-top: 5px solid;
	border-color: rgba(0, 0, 0, 0.1);	
}
#page-menu .menu-list p a{	
	margin-top: 5px;
	text-decoration: none;
}
#page-menu .menu-list p a:hover{
	border-top: 5px solid #7f7f7f;	
}
#page-menu .menu-list p a{
	background-color: #fff;
}
#page-menu .menu-list p a.active{
	border-top: 5px solid #7f7f7f;	
}
*/
/* Gridster styles */
/*
#page-menu div#main .gridster{
	padding-top:100px;
	min-height: 620px;
}
#page-menu div.gridster .col {	
    background: #FFF;   
    display: inline;              
}
#page-menu div.gridster .col a{
	display:inline-block;
	min-width: 128px;
	min-height: 128px;
}

#page-menu .gridster .col{
	z-index:2;		
}
#page-menu .gridster .col a img{
	width:100px;
	height: 100px;
}
#page-menu div#content{	
	margin-top: 10px;
	text-align: center;
	min-height: 750px;
}
#page-menu div#content div#main{	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);    	
}
*/
/* line 126, sass/page-menu.scss */
#page-menu .menu-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto; }

/* line 132, sass/page-menu.scss */
#page-menu .menu-container .menu-item {
  float: left;
  width: 150px;
  height: 150px;
  -webkit-transition: background .5s ease;
  -moz-transition: background .5s ease;
  -ms-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
  text-decoration: none;
  background-color: #00879D;
  color: #fff;
  margin: 5px;
  vertical-align: middle; }

/* line 148, sass/page-menu.scss */
#page-menu .menu-container .menu-item:hover {
  background-color: #35bc7a; }

/* line 152, sass/page-menu.scss */
#page-menu .menu-container .menu-item .icon {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 159, sass/page-menu.scss */
#page-menu .menu-container .menu-item .title {
  font-size: 24px;
  text-align: center; }

/* line 164, sass/page-menu.scss */
#page-menu .menu-container .item-w2 {
  width: 310px; }

/* line 168, sass/page-menu.scss */
#page-menu .menu-container .color-1 {
  background-color: #00879D; }

/* line 172, sass/page-menu.scss */
#page-menu .menu-container .color-2 {
  background-color: #5535B0; }

/* line 176, sass/page-menu.scss */
#page-menu .menu-container .color-3 {
  background-color: #2776ED; }

/* line 180, sass/page-menu.scss */
#page-menu .menu-container .color-4 {
  background-color: #019000; }

/* line 184, sass/page-menu.scss */
#page-menu .menu-container .color-5 {
  background-color: #DA572D; }

/* line 188, sass/page-menu.scss */
#page-menu .menu-container .color-6 {
  background-color: #94009E; }

/* line 192, sass/page-menu.scss */
#page-menu .menu-container .color-7 {
  background-color: #0A4FB7; }

/* line 196, sass/page-menu.scss */
#page-menu .menu-container .color-8 {
  background-color: #A400AC; }

/* line 200, sass/page-menu.scss */
#page-menu .menu-container .color-9 {
  background-color: #BA1D48; }

/* line 204, sass/page-menu.scss */
#page-menu .menu-container .color-9 {
  background-color: #6F85B4; }

/* line 208, sass/page-menu.scss */
#page-menu .menu-container .color-10 {
  background-color: #00A201; }

@CHARSET "UTF-8";
/* Pages device*/
/* line 3, sass/page-device.scss */
.rigth {
  text-align: right;
  padding-right: 15px; }

/* line 9, sass/page-device.scss */
#page-b0301 .tableb301 {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
/* line 22, sass/page-device.scss */
#page-b0301 .tableb301 .title {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid #aaccbb;
  text-align: center; }
/* line 29, sass/page-device.scss */
#page-b0301 .tableb301 tr td {
  border: 1px solid #e5e5e5;
  padding-left: 5px; }
/* line 34, sass/page-device.scss */
#page-b0301 .col-center {
  text-align: center; }
/* line 38, sass/page-device.scss */
#page-b0301 .searchb301 {
  margin: 0 auto;
  width: 50%; }
/* line 42, sass/page-device.scss */
#page-b0301 .center {
  margin: 0 auto; }

/* line 46, sass/page-device.scss */
.two-col-start {
  width: 40%;
  float: left; }

/* line 51, sass/page-device.scss */
#page-b0302 .content {
  margin: 0 auto;
  width: 50%; }

/* line 55, sass/page-device.scss */
#page-b0304 form {
  width: 100% !important;
  margin-bottom: 0 !important; }

/* line 60, sass/page-device.scss */
#page-b0304 .tableb304 {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
/* line 73, sass/page-device.scss */
#page-b0304 .tableb304 .title {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid #aaccbb;
  text-align: center; }
/* line 80, sass/page-device.scss */
#page-b0304 .tableb304 tr td {
  border: 1px solid #e5e5e5;
  padding-left: 5px; }
/* line 85, sass/page-device.scss */
#page-b0304 .col-center {
  text-align: center; }

/* line 90, sass/page-device.scss */
#page-b0303 .content {
  margin: 0 auto;
  width: 50%; }
